<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/signup" method="post">
        <label for="name" >name</label>
        <input id="name" name="firstName" type="text" >
        <label for="lastname" >last name</label>
        <input id="lastname" name="lastName" type="text" >
        <label for="email" >email</label>
        <input id="email" name="email" type="email" >
        <label for="password" >password</label>
        <input id="password" name="password" type="password" >
        <label for="phone" >phone</label>
        <input id="phone" name="phone" type="number" >
        <button>submit</button>
    </form>
</body>
</html>