<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catering</title>
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style1.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
</head>

<body>
    <!-- Nav Bar Start -->
    <div class="nav-bar">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="index.html" class="nav-item nav-link active">Home</a>
                        <a href="services.html" class="nav-item nav-link">Services</a>
                        <div class="nav-item dropdown">
                            <!-- <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="single.html" class="dropdown-item">Detail Page</a>
                            <a href="team.html" class="dropdown-item">Team Member</a>
                            <a href="booking.html" class="dropdown-item">Schedule Booking</a>
                        </div> -->
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                    <div class="ml-auto">
                        <a class="btn btn-custom" href="signin.html">Sign-In/Register</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->

    <section class="item content" style="margin-top: 75px;">
        <div class="container toparea">
            <div class="underlined-title">
                <div class="editContent">
                    <h1 class="text-center latestitems">Catering</h1>
                </div>
                <div class="wow-hr type_short">
                    <span class="wow-hr-h">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="productbox">
                        <div class="fadeshop">
                            <span class="maxproduct">
                                <img src="icon/user.png" alt="">
                                <p>Description about vendor</p>
                            </span>

                        </div>
                        <div class="product-details">
                            <a href="#">
                                <h1>Vendor One</h1>
                                <span class="price">
                                    <span class="edd_price">10000</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="productbox">
                        <div class="fadeshop">
                            <span class="maxproduct">
                                <img src="icon/user.png" alt="">
                                <p>Description about vendor</p>
                            </span>

                        </div>
                        <div class="product-details">
                            <a href="#">
                                <h1>Vendor Two</h1>
                                <span class="price">
                                    <span class="edd_price">10000</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="productbox">
                        <div class="fadeshop">
                            <span class="maxproduct">
                                <img src="icon/user.png" alt="">
                                <p>Description about vendor</p>
                            </span>

                        </div>
                        <div class="product-details">
                            <a href="#">
                                <h1>Vendor Three</h1>
                                <span class="price">
                                    <span class="edd_price">10000</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="productbox">
                        <div class="fadeshop">
                            <span class="maxproduct">
                                <img src="icon/user.png" alt="">
                                <p>Description about vendor</p>
                            </span>

                        </div>
                        <div class="product-details">
                            <a href="#">
                                <h1>Vendor Four</h1>
                                <span class="price">
                                    <span class="edd_price">10000</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Footer Start -->
    <div class="footer" style="background-color: #202C45;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-contact">
                        <h2>Get In Touch</h2>
                        <p><i class="fa fa-map-marker-alt"></i>Sri Venkateswara College Of Engineering</p>
                        <p><i class="fa fa-phone-alt"></i>+91 XXXXXXXXXX</p>
                        <p><i class="fa fa-envelope"></i>nalp@example.com</p>
                        <div class="footer-social">
                            <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Popular Links</h2>
                        <a href="">Home</a>
                        <a href="">Contact Us</a>
                        <a href="">Services</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Useful Links</h2>
                        <a href="">Terms of use</a>
                        <a href="">Privacy policy</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-newsletter">
                        <h2>Newsletter</h2>
                        <form>
                            <input class="form-control" placeholder="Full Name">
                            <input class="form-control" placeholder="Email">
                            <button class="btn btn-custom">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</body>

</html>