<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nalp - Services</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/framework.css">
    <link rel="stylesheet" href="css/layout.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Nav Bar Start -->
    <div class="nav-bar">
        <div class="container" style="padding: 0;">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <img src="icon/Nalp.png" alt="logo" style="width: 100px; margin-left: -175px;">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="index.html" class="nav-item nav-link">Home</a>
                        <a href="services.html" class="nav-item nav-link active">Services</a>
                        <div class="nav-item dropdown">
                            <!-- <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu">
                                <a href="blog.html" class="dropdown-item">Blog Grid</a>
                                <a href="single.html" class="dropdown-item">Detail Page</a>
                                <a href="team.html" class="dropdown-item">Team Member</a>
                                <a href="booking.html" class="dropdown-item">Schedule Booking</a>
                            </div> -->
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                    <div class="ml-auto">
                        <a class="btn btn-custom" href="signin.html" style="margin-right: -150px;">Sign-In/Register</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->

    <div class="bgded overlay" style="background-image:url('image/wedding.jpg');">
        <div id="pageintro" class="hoc clear">
            <article>
                <h3 class="heading" style="	color: white">Planning events was never easier</h3>
                <p>Click on the required services and choose from a wide range of top-quality vendors</p>
            </article>
        </div>
    </div>
    <!-- End Top Background Image Wrapper -->
    <div class="wrapper row3">
        <main class="hoc container clear">
            <section id="introblocks">
                <ul class="nospace group">
                    <li class="one_third">
                        <figure><a class="imgover" href="catering.html"><img src="image/resize/catering.jpg" alt=""></a>
                            <figcaption>
                                <h6 class="heading">Catering</h6>
                                <p>Experience multiple cuisines at affordable prices</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="one_third">
                        <figure><a class="imgover" href="photography.html"><img src="image/resize/photographer.jpg"
                                    alt=""></a>
                            <figcaption>
                                <h6 class="heading">Photography</h6>
                                <p>Capture love, joy, and everything in between</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="one_third">
                        <figure><a class="imgover" href="#"><img src="image/resize/decorationevent.jpg" alt=""></a>
                            <figcaption>
                                <h6 class="heading">Decoration</h6>
                                <p>Bringing your dreams to reality</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="one_third">
                        <figure><a class="imgover" href="#"><img src="image/resize/audioequipment.jpg" alt=""></a>
                            <figcaption>
                                <h6 class="heading">Audio Visual Equipment</h6>
                                <p>Where's the celebration without music?</p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="one_third">
                        <figure><a class="imgover" href="#"><img src="image/resize/venuehall.jpg" alt=""></a>
                            <figcaption>
                                <h6 class="heading">Venue</h6>
                                <p>A very special Venue for a very special location</p>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </section>
        </main>
    </div>
    <!-- ################################################################################################ -->

    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-contact">
                        <h2>Get In Touch</h2>
                        <p><i class="fa fa-map-marker-alt"></i>Sri Venkateswara College Of Engineering</p>
                        <p><i class="fa fa-phone-alt"></i>+91 XXXXXXXXXX</p>
                        <p><i class="fa fa-envelope"></i>nalp@example.com</p>
                        <div class="footer-social">
                            <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Popular Links</h2>
                        <a href="">Home</a>
                        <a href="">Contact Us</a>
                        <a href="">Services</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Useful Links</h2>
                        <a href="">Terms of use</a>
                        <a href="">Privacy policy</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-newsletter">
                        <h2>Newsletter</h2>
                        <form>
                            <input class="form-control" placeholder="Full Name">
                            <input class="form-control" placeholder="Email">
                            <button class="btn btn-custom">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</body>

</html>