<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/app.js"></script>
</head>

<body>
    <div class="sign-bar">
        <div class="ml-auto">
            <a class="btn custom" href="index.html">Back to Home</a>
        </div>
    </div>
    <div class="container-reg" id="container" style="margin-bottom: 100px;">
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Register as user</h1><br>
                <input type="text" placeholder="First Name" name="firstName" />
                <input type="text" placeholder="Last Name" name="lastName" />
                <input type="phone" placeholder="Phone" name="phone"/>
                <input type="email" placeholder="Email" name="email"/>
                <input type="password" placeholder="Password" name="password"/>
                <button>Register</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Existing User?</h1>
                    <p style="margin-top: 0;">Sign-in for personalized experience</p>
                    <a href="login-user.ejs" style="margin-bottom: 20px; margin-top: -20px;"><button class="ghost"
                            id="signIn">Sign
                            In</button></a>
                    <h1 style="margin-top: 20px;">Are you a vendor?</h1>
                    <p style="margin-top: 0;">Sign-up today and start selling</p>
                    <a href="signup-vendor.ejs" style="margin-bottom: 20px; margin-top: -20px;"><button class="ghost"
                            id="signIn">Register as vendor</button></a>
                </div>
            </div>
        </div>
</body>

</html>